.add_page {
    background-color: $pr_bg_color;

    .container {
        .add_info {
            margin-left: 300px;
            margin-top: 20px;

            .product_add {
                @include flex(center, space-between);

                &_father {
                    width: 50%;

                    .selected {
                        width: 250px;
                        position: relative;

                        &_option {
                            @include flex(center, space-between);
                            border: 1px solid $pr_blue_color;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 2px 10px;

                            &_title {
                                @include fond(500, 15);
                                color: $pr_black_color;
                                text-transform: capitalize;
                            }

                            &_icon {
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    rotate: -180deg;
                                }
                            }
                        }

                        &_content {
                            position: absolute;
                            width: 100%;
                            top: calc(100% + 10px);
                            overflow-y: auto;
                            height: 150px;
                            display: none;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            &_title {
                                @include fond(400, 15);
                                color: $pr_black_color;
                                text-transform: capitalize;
                                border: 1px solid $pr_black_color;
                                border-radius: 3px;
                                margin-bottom: 5px;
                                cursor: pointer;
                            }
                        }

                        &.active {
                            .selected_content {
                                display: block;
                            }
                        }
                    }
                }

                &_child {
                    width: 50%;

                    .info {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;

                        &_label {
                            @include fond(400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            margin-bottom: 5px;
                            cursor: pointer;
                        }
                        &_input{
                            width: 300px;
                            height: 35px;
                            border-radius: 5px;
                            outline: none;
                            padding: 2px 10px;
                            @include fond(400, 13);
                            color: $pr_black_color;
                            &::placeholder{
                                @include fond(400, 15);
                                color: $pr_black_color;
                            }
                        }
                    }
                }
            }
        }
    }
}