.add_page {
    background-color: $pr_bg_color;

    .container {
        .add_info {
            margin-left: 300px;

            .product {
                padding: 50px;

                &_name {
                    @include fond(400, 15);

                    color: $pr_black_color;
                    margin-bottom: 7px;
                }

                &_input {
                    width: 700px;
                    height: 50px;
                    outline: none;
                    background: none;
                    border: none;
                    border-radius: 7px;
                    border: 1px solid $pr_black_color;
                    padding: 0 10px;
                    @include fond(400, 14);
                    color: $pr_black_color;
                    margin-bottom: 15px;

                    &::placeholder {
                        @include fond(400, 14);
                        color: $pr_black_color;
                        text-transform: capitalize;
                    }
                }

                &_category {
                    &_option {
                        width: 400px;
                        border: 1px solid $pr_black_color;
                        border-radius: 7px;
                        padding: 7px 10px;
                        cursor: pointer;
                        user-select: none;
                        @include fond(400, 15);
                        color: $pr_black_color;
                        background-color: $sc_blue_color;
                    }

                    &_modal {
                        width: 1000px;
                        height: 800px;
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 15px;
                        border: 1px solid;
                        background-color: $pr_white_color;
                        padding: 20px;

                        .close_btn {
                            @include flex(flex-start, flex-end);
                            margin-bottom: 20px;
                            margin-right: 10px;

                            .btn {
                                position: relative;
                                cursor: pointer;

                                &::after,
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 3px;
                                    height: 20px;
                                    background-color: $pr_black_color;
                                    border-radius: 3px;
                                }

                                &::after {
                                    rotate: 45deg;
                                }

                                &::before {
                                    rotate: -45deg;
                                }
                            }
                        }

                        &_title {
                            @include fond(600, 24);
                            color: $pr_black_color;
                            margin-bottom: 20px;
                        }

                        .categorys {
                            position: relative;

                            &_category {
                                width: 50%;
                                border-right: 2px solid $pr_black_color;
                                padding: 0 10px 0 0;

                                &_title {
                                    @include flex(center, space-between);
                                    cursor: pointer;
                                    padding: 20px 10px;
                                    border-radius: 5px;

                                    &:hover {
                                        background-color: $sc_blue_color;
                                    }

                                    &_text {
                                        @include fond(500, 18);
                                        color: $pr_black_color;
                                        text-transform: capitalize;
                                    }

                                    &_icon {
                                        svg {
                                            rotate: 90deg;
                                        }
                                    }
                                }

                                &_content {
                                    position: absolute;
                                    top: 0;
                                    left: calc(50% + 20px);
                                    width: 50%;
                                    display: none;

                                    &_title {
                                        @include fond(500, 18);
                                        color: $pr_black_color;
                                        text-transform: capitalize;
                                        padding: 20px 10px;
                                        cursor: pointer;
                                        border-radius: 5px;

                                        &:hover {
                                            background-color: $sc_blue_color;
                                        }
                                    }
                                }

                                &.active {
                                    .categorys_category_content {
                                        display: block;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}