.companyadd_page {
    padding-top: 100px;
    background-color: $pr_bg_color;
    height: 90vh;

    .container {
        .information {
            margin-left: 600px;
            width: 640px;
            @include flex(space-between, space-between);
            flex-direction: column;
            gap: 150px;
            background-color: $pr_white_color;
            padding: 20px;
            border-radius: 10px;

            &_inputs {
                .info {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    &_label {
                        @include fond(400, 18);
                        color: $pr_black_color;
                        text-transform: capitalize;
                        margin-bottom: 10px;
                    }

                    &_input {
                        @include fond(400, 13);
                        color: $pr_black_color;
                        outline: none;
                        background: none;
                        width: 600px;
                        height: 53px;
                        border-radius: 5px;
                        border: none;
                        background: $pr_white_color;
                        padding: 0 10px;
                        margin-bottom: 10px;
                        background-color: $pr_bg_color;

                        &::placeholder {
                            @include fond(400, 13);
                            color: $pr_black_color;
                            text-transform: capitalize;
                        }
                    }

                    &_icon {
                        position: absolute;
                        right: 10px;
                        bottom: 25px;
                        cursor: pointer;

                        svg {
                            width: 20px;
                            height: 20px;

                        }
                    }
                }
            }

            &_image {
                input {
                    display: none;
                }

                label {
                    cursor: pointer;

                    img {
                        margin-bottom: 40px;
                        width: 180px;
                        height: 210px;
                        object-fit: cover;
                        border-radius: 15px;

                    }
                }

                &_btns {
                    @include flex(cover, space-between);

                    .btn {
                        @include fond(400, 15);
                        color: $pr_black_color;
                        text-transform: capitalize;
                        padding: 5px 20px;
                        border-radius: 5px;
                        background-color: $pr_white_color;
                        cursor: pointer;

                        &.btn_exit_link {
                            background-color: red;
                            color: $pr_white_color;
                        }

                        &.btn_exit_link:hover {
                            filter: invert(0.1);
                        }

                        &.btn_save {
                            background-color: $pr_blue_color;
                            color: $pr_white_color;
                        }

                        &.btn_save:hover {
                            filter: invert(0.1);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1300px) {
    .companyadd_page {
        .container {
            .information {
                margin-left: 100px;
            }
        }
    }
}

@media (max-width:780px) {
    .companyadd_page {
        .container {
            .information {
                margin-left: 100px;
                width: 90%;

                &_inputs {
                    .info {
                        &_input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:695px) {
    .companyadd_page {
        .container {
            .information {
                margin-left: 0;
                width: 100%;
                &_inputs{
                    width: 100%;
                }
            }
        }
    }
}