.currensy_page {
    .container {
        .currensy_info {
            padding: 50px;
            margin-left: 300px;

            &_top {
                display: inline-block;
                margin-bottom: 50px;

                .currensy_content {
                    @include flex(center, flex-start);
                    background-color: $pr_blue_color;
                    gap: 20px;
                    padding: 5px 20px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        filter: invert(0.1)
                    }

                    &_title {
                        @include fond(600, 16);
                        color: $pr_white_color;
                    }

                    &_icon {
                        svg {
                            width: 25px;
                            height: 25px;

                        }
                    }
                }
            }

            &_bottom {
                &_page {
                    background-color: $pr_white_color;
                    padding: 10px 20px;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    position: sticky;
                    top: 60px;

                    .page {
                        @include flex(center, flex-start);
                        gap: 50px;

                        &_title {
                            @include fond(600, 18);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            width: 200px;
                        }
                    }
                }

                .currensy {
                    @include flex(center, flex-start);
                    gap: 50px;
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: $pr_white_color;
                    margin-bottom: 10px;

                    &_title {
                        @include fond(600, 18);
                        color: $pr_black_color;
                        text-transform: capitalize;
                        width: 200px;

                        &_icon {
                            cursor: pointer;

                            svg {
                                width: 25px;
                                height: 25px;


                            }
                        }
                    }
                }

                .currensy_modal {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $pr_white_color;
                    width: 500px;
                    height: 500px;
                    z-index: 2;
                    border-radius: 15px;
                    padding: 20px;

                    &_close_btn {
                        width: 20px;
                        height: 20px;
                        margin-left: auto;
                        cursor: pointer;
                        margin-bottom: 20px;

                        &:hover {

                            &::after,
                            &::before {
                                background-color: red;
                            }
                        }

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            width: 3px;
                            height: 18px;
                            background-color: $pr_blue_color;
                            border-radius: 3px;
                        }

                        &::after {
                            rotate: -45deg;
                        }

                        &::before {
                            rotate: 45deg
                        }
                    }

                    &_info {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;
                        gap: 15px;
                        margin-bottom: 20px;

                        &_label {
                            @include fond(500, 20);
                            color: $pr_black_color;
                            text-transform: capitalize;
                        }

                        &_input {
                            width: 100%;
                            height: 50px;
                            border: 3px solid $pr_blue_color;
                            border-radius: 7px;
                            outline: none;
                            padding: 2px 20px;
                            @include fond(500, 16);
                            color: $pr_black_color;
                        }
                    }

                    .selected {
                        width: 100%;
                        position: relative;
                        margin-bottom: 230px;

                        &_option {
                            @include flex(center, space-between);
                            border: 1px solid $pr_blue_color;
                            background-color: $pr_blue_color;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 2px 10px;

                            &_title {
                                @include fond(500, 15);
                                color: $pr_white_color;
                                text-transform: capitalize;
                            }

                            &_icon {
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    rotate: 180deg;
                                    transition: 0.3s;
                                    filter: invert(1);
                                }
                            }
                        }

                        &_content {
                            position: absolute;
                            width: 100%;
                            top: calc(100% + 10px);
                            overflow-y: auto;
                            max-height: 250px;
                            transition: 0.3s;
                            transform: scale(0);
                            opacity: 0;
                            visibility: hidden;
                            padding: 15px;
                            border-radius: 15px;
                            background-color: $pr_white_color;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            &_title {
                                @include fond(400, 15);
                                color: $pr_black_color;
                                text-transform: capitalize;
                                border: 1px solid $pr_blue_color;
                                border-radius: 3px;
                                margin-bottom: 5px;
                                cursor: pointer;
                                padding: 5px 10px;
                                border-radius: 5px;

                                &:hover {
                                    color: $pr_white_color;
                                    background-color: $pr_blue_color;
                                }
                            }
                        }

                        &.active {
                            .selected_option {
                                &_icon {
                                    svg {
                                        rotate: 0deg;
                                    }
                                }
                            }

                            .selected_content {
                                transform: scale(1);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    &_send {
                        @include flex(center, center);
                        background-color: $pr_blue_color;
                        border-radius: 10px;
                        padding: 3px 20px;
                        cursor: pointer;

                        &_btn {
                            @include fond(600, 20);
                            color: $pr_white_color;
                            text-transform: capitalize;
                        }

                        &:hover {
                            filter: invert(0.1);
                        }
                    }
                }

                .currensy_edit_modal {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $pr_white_color;
                    width: 500px;
                    height: 500px;
                    z-index: 2;
                    border-radius: 15px;
                    padding: 20px;

                    &_close_btn {
                        width: 20px;
                        height: 20px;
                        margin-left: auto;
                        cursor: pointer;
                        margin-bottom: 20px;

                        &:hover {

                            &::after,
                            &::before {
                                background-color: red;
                            }
                        }

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            width: 3px;
                            height: 18px;
                            background-color: $pr_blue_color;
                            border-radius: 3px;
                        }

                        &::after {
                            rotate: -45deg;
                        }

                        &::before {
                            rotate: 45deg
                        }
                    }

                    &_info {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;
                        gap: 15px;
                        // margin-bottom: 20px;
                        margin-bottom: 230px;

                        &_label {
                            @include fond(500, 20);
                            color: $pr_black_color;
                            text-transform: capitalize;
                        }

                        &_input {
                            width: 100%;
                            height: 50px;
                            border: 3px solid $pr_blue_color;
                            border-radius: 7px;
                            outline: none;
                            padding: 2px 20px;
                            @include fond(500, 16);
                            color: $pr_black_color;
                        }
                    }

                    .selected {
                        width: 100%;
                        position: relative;

                        &_option {
                            @include flex(center, space-between);
                            border: 1px solid $pr_blue_color;
                            background-color: $pr_blue_color;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 2px 10px;

                            &_title {
                                @include fond(500, 15);
                                color: $pr_white_color;
                                text-transform: capitalize;
                            }

                            &_icon {
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    rotate: 180deg;
                                    transition: 0.3s;
                                    filter: invert(1);
                                }
                            }
                        }

                        &_content {
                            position: absolute;
                            width: 100%;
                            top: calc(100% + 10px);
                            overflow-y: auto;
                            max-height: 250px;
                            transition: 0.3s;
                            transform: scale(0);
                            opacity: 0;
                            visibility: hidden;
                            padding: 15px;
                            border-radius: 15px;
                            background-color: $pr_white_color;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            &_title {
                                @include fond(400, 15);
                                color: $pr_black_color;
                                text-transform: capitalize;
                                border: 1px solid $pr_blue_color;
                                border-radius: 3px;
                                margin-bottom: 5px;
                                cursor: pointer;
                                padding: 5px 10px;
                                border-radius: 5px;

                                &:hover {
                                    color: $pr_white_color;
                                    background-color: $pr_blue_color;
                                }
                            }
                        }

                        &.active {
                            .selected_option {
                                &_icon {
                                    svg {
                                        rotate: 0deg;
                                    }
                                }
                            }

                            .selected_content {
                                transform: scale(1);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    &_send {
                        @include flex(center, center);
                        background-color: $pr_blue_color;
                        border-radius: 10px;
                        padding: 3px 20px;
                        cursor: pointer;

                        &_btn {
                            @include fond(600, 20);
                            color: $pr_white_color;
                            text-transform: capitalize;
                        }

                        &:hover {
                            filter: invert(0.1);
                        }
                    }
                }
            }
        }
    }
}