.add_page {
    background-color: $pr_bg_color;

    .container {
        .add_info {
            margin-left: 300px;
            margin-top: 20px;

            .product_add {
                @include flex(flex-start, space-between);
                background-color: $pr_white_color;
                border: 2px solid $sc_blue_color;
                border-radius: 20px;
                padding: 50px;
                // height: 90vh;
                gap: 50px;

                &_father {
                    width: 50%;
                    height: 100%;
                    background-color: $pr_bg_color;
                    border-radius: 20px;
                    padding: 20px;

                    .selected {
                        width: 70%;
                        position: relative;
                        margin-bottom: 50px;

                        &_option {
                            @include flex(center, space-between);
                            border: 1px solid $pr_blue_color;
                            background-color: $pr_blue_color;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 2px 10px;

                            &_title {
                                @include fond(500, 15);
                                color: $pr_white_color;
                                text-transform: capitalize;
                            }

                            &_icon {
                                svg {
                                    width: 25px;
                                    height: 25px;
                                    rotate: 180deg;
                                    transition: 0.3s;
                                    filter: invert(1);
                                }
                            }
                        }

                        &_content {
                            position: absolute;
                            width: 100%;
                            top: calc(100% + 10px);
                            overflow-y: auto;
                            height: 250px;
                            transition: 0.3s;
                            transform: scale(0);
                            opacity: 0;
                            visibility: hidden;
                            background-color: $pr_white_color;
                            padding: 15px;
                            border-radius: 15px;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            &_title {
                                @include fond(400, 15);
                                color: $pr_black_color;
                                text-transform: capitalize;
                                border: 1px solid $pr_blue_color;
                                border-radius: 3px;
                                margin-bottom: 5px;
                                cursor: pointer;
                                padding: 5px 10px;

                                &:hover {
                                    color: $pr_white_color;
                                    background-color: $pr_blue_color;
                                }
                            }
                        }

                        &.active {
                            .selected_option {
                                &_icon {
                                    svg {
                                        rotate: 0deg;
                                    }
                                }
                            }

                            .selected_content {
                                transform: scale(1);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    .info {
                        @include flex(center, flex-start);
                        gap: 20px;
                        margin-bottom: 20px;

                        &_input {
                            width: 15px;
                            height: 15px;

                            &[type='checkbox'] {
                                background-color: red;
                                color: red;
                            }
                        }

                        ;

                        &_label {
                            @include fond(500, 17);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            cursor: pointer;
                        }

                        ;
                    }

                    .infos {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;
                        margin-bottom: 15px;

                        &_date_label {
                            @include fond (400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                        }

                        &_date_input {
                            width: 50%;
                            height: 40px;
                            padding: 5px 20px;
                            @include fond (400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            outline: none;
                            border-radius: 5px;
                        }
                    }

                    .inputs {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;
                        margin-bottom: 15px;

                        &_label {
                            @include fond (400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                        }

                        &_input {
                            width: 50%;
                            height: 40px;
                            padding: 5px 20px;
                            @include fond (400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            outline: none;
                            border-radius: 5px;

                            &::placeholder {
                                @include fond (400, 13);
                                color: $pr_black_color;
                            }
                        }
                    }

                    .price {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;
                        margin-bottom: 15px;

                        &_label {
                            @include fond (400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                        }

                        &_input {
                            width: 50%;
                            height: 40px;
                            padding: 5px 20px;
                            @include fond (400, 15);
                            color: $pr_black_color;
                            text-transform: capitalize;
                            outline: none;
                            border-radius: 5px;

                            &::placeholder {
                                @include fond (400, 13);
                                color: $pr_black_color;
                            }
                        }
                    }

                    .textarea {
                        @include flex(flex-start, flex-start);
                        flex-direction: column;

                        &_label {
                            @include fond(400, 15);
                            color: $pr_black_color;
                            margin-bottom: 10px;
                        }

                        ;

                        &_title {
                            width: 90%;
                            height: 200px;
                            border-radius: 15px;
                            padding: 15px;
                            outline: none;
                            @include fond(400, 15);
                            color: $pr_black_color;
                        }
                    }
                }

                &_child {
                    width: 50%;

                    padding: 20px;
                    background-color: $pr_bg_color;
                    border-radius: 20px;

                    &_contents {
                        height: 700px;
                        overflow-y: auto;
                        margin-bottom: 50px;
                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .info {
                            @include flex(flex-start, flex-start);
                            flex-direction: column;
                            margin-bottom: 10px;
                            &_label {
                                @include fond(400, 15);
                                color: $pr_black_color;
                                text-transform: capitalize;
                                margin-bottom: 5px;
                                cursor: pointer;
                            }

                            &_input {
                                width: 70%;
                                height: 35px;
                                border-radius: 5px;
                                outline: none;
                                padding: 2px 10px;
                                @include fond(400, 10);
                                color: $pr_black_color;

                                &::placeholder {
                                    @include fond(400, 10);
                                    color: $pr_black_color;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }

                    .submit_icons {
                        @include flex(center, flex-start);
                        gap: 50px;
                        margin-left: auto;

                        &_btn {
                            @include fond(400, 15);
                            color: $pr_white_color;
                            padding: 5px 20px;
                            background-color: $pr_blue_color;
                            border-radius: 5px;
                            cursor: pointer;
                            text-transform: capitalize;
                            &.exit:hover{
                                background-color: red;
                            }
                            &.send:hover{
                                background-color: $sc_blue_color;
                            }
                        }
                    }
                }
            }
        }
    }
}