.product_prototype_page {
    background-color: $pr_bg_color;

    .container {
        .protatype {
            margin-left: 300px;
            @include flex(flex-start, flex-start);
            border-radius: 20px;
            margin-top: 30px;

            &_content {
                width: 50%;
                border-right: 5px solid $pr_blue_color;

                &_add {
                    display: inline-block;
                    border-radius: 10px;
                    margin-left: 20px;
                    margin-top: 20px;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: 30px;

                    &_content {
                        @include flex(center, flex-start);
                        gap: 50px;
                        padding: 10px 20px;
                        background-color: $pr_blue_color;

                        &_icon {

                            &::after,
                            &::before {
                                content: "";
                                position: absolute;
                                width: 16px;
                                height: 2px;
                                background-color: $pr_white_color;
                            }

                            ;

                            &::after {
                                rotate: -90deg;
                            }

                            ;
                        }

                        &_title {
                            @include fond(400, 15);
                            color: $pr_white_color ;
                            text-transform: capitalize;
                        }

                        &:hover {
                            background-color: $sc_blue_color;
                        }
                    }

                    &_modal {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: $pr_white_color;
                        padding: 20px;
                        border-radius: 10px;
                        transition: 0.3s;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 3;

                        .close_btn {
                            margin-left: auto;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            cursor: pointer;
                            margin-bottom: 20px;

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: 2px;
                                height: 16px;
                                background-color: $pr_blue_color ;
                            }

                            ;

                            &::before {
                                rotate: -45deg;
                            }

                            ;

                            &::after {
                                rotate: 45deg;
                            }

                            &:hover {

                                &::before,
                                &::after {
                                    background-color: red;
                                }
                            }
                        }

                        .info {
                            @include flex(flex-start, flex-start);
                            flex-direction: column;

                            label {
                                @include fond(400, 13);
                                color: $pr_black_color ;
                                text-transform: capitalize;
                                margin-bottom: 10px;
                            }

                            ;

                            input {
                                width: 700px;
                                height: 35px;
                                border-radius: 5px;
                                background: $pr_bg_color ;
                                padding: 0 10px;
                                @include fond(400, 12);
                                color: $pr_black_color ;
                                margin-bottom: 10px;
                                outline: none;

                                &::placeholder {
                                    @include fond(400, 12);
                                    color: $pr_black_color ;
                                    text-transform: capitalize;
                                }
                            }

                        }

                        ;

                        .add_btn {
                            @include flex(center, center);
                            background-color: $pr_blue_color;
                            color: $pr_white_color;
                            @include fond(400, 15);
                            border-radius: 5px;
                            cursor: pointer;
                            text-transform: capitalize;
                            margin-top: 20px;
                            padding: 3px 20px;
                        }

                        ;

                        &.active {
                            transform: translate(-50%, -50%);
                            opacity: 1;
                            visibility: visible;
                        }

                        ;
                    }
                }

                ;

                &_title {
                    @include flex(center, space-between);
                    // gap: 250px;
                    padding: 10px 20px;
                    cursor: pointer;
                    width: 500px;
                    background-color: $pr_white_color;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    transition: 0.3s;

                    &_icons {
                        @include flex(center, flex-start);
                        gap: 20px;

                        &_icon {

                            svg {
                                width: 18px;
                                height: 18px;
                            }

                            &.line {
                                rotate: 90deg;
                                svg{
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }

                    }

                    &.active {
                        background-color: $sc_blue_color;
                        transform: translateX(20px);

                        .protatype_content_title_name {
                            @include fond(400, 15);
                            color: $pr_white_color;
                            text-transform: capitalize;
                        }

                        .protatype_content_title_icons {
                            &_icon{
                                svg {
                                    filter: invert(1)
                                }
    
                                &.delete {
                                    svg {
                                        filter: invert(0)
                                    }
                                }

                            }
                        }
                    }

                    &_name {
                        @include fond(400, 15);
                        color: $pr_black_color;
                        text-transform: capitalize;
                    }

                    &_icon {
                        rotate: 90deg;

                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            &_title {
                width: 50%;

                padding-left: 20px;

                &_add {
                    display: inline-block;
                    border-radius: 10px;
                    margin-left: 20px;
                    margin-top: 20px;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: 30px;

                    &_content {
                        @include flex(center, flex-start);
                        gap: 50px;
                        padding: 10px 20px;
                        background-color: $pr_blue_color;

                        &_icon {

                            &::after,
                            &::before {
                                content: "";
                                position: absolute;
                                width: 16px;
                                height: 2px;
                                background-color: $pr_white_color;
                            }

                            &::after {
                                rotate: -90deg;
                            }
                        }

                        &_title {
                            @include fond(400, 15);
                            color: $pr_white_color ;
                            text-transform: capitalize;
                        }

                        &:hover {
                            background-color: $sc_blue_color;
                        }

                        ;
                    }

                    &_modal {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: $pr_white_color;
                        padding: 20px;
                        border-radius: 10px;
                        transition: 0.3s;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 3;

                        .close_btn {
                            margin-left: auto;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            cursor: pointer;
                            margin-bottom: 20px;

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: 2px;
                                height: 16px;
                                background-color: $pr_blue_color ;
                            }

                            ;

                            &::before {
                                rotate: -45deg;
                            }

                            ;

                            &::after {
                                rotate: 45deg;
                            }

                            &:hover {

                                &::before,
                                &::after {
                                    background-color: red;
                                }
                            }
                        }

                        .info {
                            @include flex(flex-start, flex-start);
                            flex-direction: column;

                            label {
                                @include fond(400, 13);
                                color: $pr_black_color ;
                                text-transform: capitalize;
                                margin-bottom: 10px;
                            }

                            ;

                            input {
                                width: 600px;
                                height: 35px;
                                border-radius: 5px;
                                background: $pr_bg_color ;
                                padding: 0 10px;
                                @include fond(400, 12);
                                color: $pr_black_color ;
                                margin-bottom: 10px;
                                outline: none;

                                &::placeholder {
                                    @include fond(400, 12);
                                    color: $pr_black_color ;
                                    text-transform: capitalize;
                                }
                            }

                        }

                        ;

                        .add_btn {
                            @include flex(center, center);
                            background-color: $pr_blue_color;
                            color: $pr_white_color;
                            @include fond(400, 15);
                            border-radius: 5px;
                            cursor: pointer;
                            text-transform: capitalize;
                            margin-top: 20px;
                            padding: 3px 20px;
                        }

                        ;

                        &.active {
                            transform: translate(-50%, -50%);
                            opacity: 1;
                            visibility: visible;
                        }

                        ;
                    }

                }

                &_content {
                    @include flex(center, space-between);
                    margin-bottom: 10px;
                    padding: 10px 20px;
                    // cursor: pointer;
                    background-color: $pr_white_color;
                    width: 500px;
                    border-radius: 10px;

                    &_name {
                        @include fond(400, 15);
                        color: $pr_black_color;
                        text-transform: capitalize;
                    }

                    &_icon {

                        cursor: pointer;

                        &.edit {
                            margin-left: auto;
                            margin-right: 20px;
                        }

                        &.delete {
                            rotate: 0deg;

                        }

                        svg {
                            width: 18px;
                            height: 18px;
                        }

                    }
                }
            }
        }
    }
}